.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.coverage
htmlcov/
.pytest_cache/
*.log
.DS_Store
node_modules/
.next/
out/
dist/
build/


# Base de datos local
*.sqlite3
backend/db.sqlite3
db.sqlite3